body {background-image: url(https://images.ladepeche.fr/api/v1/images/view/636d0d92b173262ee352a34f/large/image.jpg?v=1); 
background-repeat: no-repeat;
background-size: contain;
box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.7);
}
h1 {color: darkred;
text-align: center;}