table{
    border-collapse: collapse;
    border: 3px solid rgb(38, 10, 197);
    background-color: rgba(210, 105, 30, 0.397);
}
td {
    border: 2px solid rgb(rgb(19, 7, 7));
    color: rgb(26, 185, 48);
    text-align: center;
}